body {
	background: transparent;
	font-family: "BigNoodleToo";
	
}

.overwatch {
	background-image: url(../images/overwatch.png);
}

#team_container {
	display: flex;
	align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 130px;
	margin-bottom: 70px;
}

#ow_team_container {
	display: flex;
	align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 280px;
	margin-bottom: 70px;
}

.logo {
	width: 350px;
	height: 350px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}

.logo.show {
	display: inline-block;
}

#versus {
	font-size: 50px;
}

.team {
	width: 50%;
	font-size: 90px;
}

.team img {
	height: 400px;
	width: 400px;
}

.ow_team_name {
	font-size: 60px;
	margin-top: 55px;
}

.ow_team_left {
	text-align: left;
	margin-left: 300px;
}

.ow_team_right {
	text-align: right;
	margin-right: 314px;
}

#next_event {
	width: 100%;
	text-align: center;
	font-size: 90px;
	margin-bottom: 40px;
}

#countdown {
	width: 100%;
	text-align: center;
	font-size: 90px;
}